<%= form_tag(score_observation_domain_indicator_evidences_path, :method => 'get', :remote => true, :id => "evidence-form") do %>
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th><h4> ID </h4></th>
          <th><h4> Evidence </h4></th>
          <th><h4> Quality </h4></th>
          <th><h4> Alignment</h4></th>
          <th><h4> Quality(Your Score) </h4></th>
          <th><h4> Alignment(Your Score) </h4></th>
        </tr>
      <% @indicator_score.evidence_scores.each do |evidence_score| %>
          <tr>
            <td><%= evidence_score.id %></td>
            <td><%= evidence_score.description %></td>
            <%= hidden_field_tag("evidence_scores[#{evidence_score.id}][quality]", '0') %>
            <td><%= check_box_tag("evidence_scores[#{evidence_score.id}][quality]", true, evidence_score.quality) %></td>
            <%= hidden_field_tag("evidence_scores[#{evidence_score.id}][alignment]", '0') %>
            <td><%= check_box_tag("evidence_scores[#{evidence_score.id}][alignment]", true, evidence_score.alignment) %></td>

            <td><%= evidence_score.quality ? "Yes" : "No" %></td>
            <td><%= evidence_score.alignment ? "Yes" : "No" %></td>
          </tr>
        <% end %>

      </table>

      <h4> Your Feedback to the Principal </h4>
       <%= text_area_tag('comments', @indicator_score.comments) %><br>


      <%= submit_tag "Submit Scores", :id => 'submit-evidence', :remote => true, class: "btn btn-primary" %>

  </div>
<% end %>