<div class="well well-sm">
  <%= simple_form_for @observation_read, url: {action: "update"}, id: 'document-live-form' do |f| %>

  <div class="row">
    <h5 class="read-title">Reader <%= @observation_read.reader_number_ordinal %></h5>
  </div>

  <div class="row">
    <div class="col-md-12 live">
      <!-- <h4>Live</h4> -->

      <div class="col-md-6">
        <% info = tag(:br) + content_tag(:span, "Reader 2 Score: #{print_cert @observation_read.quality_overall}", class:"r1score") %>

        <%= f.input :quality_overall, label: "Quality#{info if @observation_read.final? }".html_safe, collection: @dropdown, priority: @priority, prompt: "Select" %>
      </div>

      <div class="col-md-6">
        <% info = tag(:br) + content_tag(:span, "Reader 2 Score: #{print_cert @observation_read.alignment_overall}", class:"r1score") %>

        <%= f.input :alignment_overall, label: "Alignment#{info if @observation_read.final? }".html_safe, collection: @dropdown, priority: @priority, prompt: "Select" %>
      </div>
    </div> <!--live -->
  </div> <!-- row -->
  
  <div class="row">
    <div class="col-md-12">
    <label for="observation_read_comments">Summative Comment for Observer:</label>
      <%= f.text_area :comments, class: 'form-control', rows: "3", placeholder: "Comments"  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <%= f.input :flagged, as: :boolean, label: false, inline_label: "Check to Request a 3rd Reader" if current_user.reader2? %>
    </div>
  </div>
  
  <div class="observation-read-button">
    <div class="btn btn-danger" id="finalize-button">Finalize Read</div>
  </div>

</div> <!-- well -->


<div class="login_modal">
  <div class="login_close">
    <i class="fa fa-times-circle"></i>
  </div>
  <div class="modal-buttons">
    <p>Are you sure you want to finalize the read?</p>
    <p>Doing so will lock your scores.</p>
    <%= f.submit value: "Yes", class: "btn-success", id: "observation-read-button", disable_with: "Submitting..." %>
    <div class="btn btn-warning" id="cancel-read">Cancel</div>
  </div>
</div>
<% end %>
