<table class="table table-condensed table-bordered table-resonsive" id="domain-table">

  <tr>
    <th></th>
    <% @domain_percentages.each do |domain_percentage| %>
      <th> Domain <%= domain_percentage.number %></th>
    <% end %>
  </tr>

  <tr class="quality">
    <td>Quality</td>
    <% @domain_percentages.each_with_index do |domain_percentage, index| %>
      <td><%= print_percent domain_percentage.quality_average %></td>
    <% end %>
  </tr>
  
  <tr class="alignment">
    <td>Alignment</td>
    <% @domain_percentages.each_with_index do |domain_percentage, index| %>
      <td><%= print_percent domain_percentage.alignment_average %></td>
    <% end %>
  </tr>

</table>

<table class="table table-condensed table-bordered" id="domain-table-weighted">
  <tr>
    <th>Weighted Score</th>
    <th>Domains 1-4</th>
  </tr>

  <tr class="quality-weighted">
    <td>Quality</td>
    <td><%= @domain_percentages.map(&:quality_sum).sum %></td>
  </tr>

  <tr class="alignment-weighted">
    <td>Alignment</td>
    <td><%= @domain_percentages.map(&:alignment_sum).sum %></td>
  </tr>

</table>