<div class="container container-fluid" id="login">
  <div class="logo"><%= logo_tag %></div>

  <div class="panel panel-default panel-info">
    <div class="panel-heading">Please sign in</div>
    <div class="panel-body">
      <%= form_for :reader, url: sessions_path, class: "form-horizontal center" do |f| %>
      <div class="form-group">
        <%= f.label :email, "Email:", class: "col-md-4 control-label reader-admin-label" %>
        <div class="col-md-8">
          <%= f.text_field :email, class: "form-control reader-admin-label",placeholder: "Enter your #{organization_name(:short)} Email" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password:", class: "col-md-4 control-label reader-admin-label" %>
        <div class="col-md-8">
          <%= f.password_field :password, class: "form-control reader-admin-label" %>
        </div>
      </div>

      <%= f.submit "Sign in", class: "btn btn-default btn-primary" %>
      <% end %>

    <%= link_to "forgotten password?", new_password_reset_path %>
    
    </div>
  </div>

</div>
