<% if @domain_percentages %>
  <table class="table table-condensed table-bordered" id="domain-table">
      <tr>
        <td></td>
        <% @domain_percentages.each do |domain_percentage| %>
          <td> Domain <%=domain_percentage.number%> </td>
        <% end %>
      </tr>
      <tr class="quality">
        <td>Quality</td>
        <% @domain_percentages.each_with_index do |domain_percentage, index| %>
        <td id=<%= "#{index + 1}" %>><%= number_with_precision(domain_percentage.quality_average.to_f*100, precision: 1) %> %</td>
        <% end %>
      </tr>
      <tr class="alignment">
        <td>Alignment</td>
        <% @domain_percentages.each_with_index do |domain_percentage, index| %>
          <td id=<%= "#{index + 5}" %>><%= number_with_precision(domain_percentage.alignment_average.to_f*100, precision: 1) %> %</td>
        <% end %>
      </tr>
  </table>
<% end %>

<% if @get_section_scores %>
  <table class="table table-condensed table-bordered" id="domain-table-hidden">
      <tr>
        <td></td>
        <td>Domain 1</td>
        <td>Domain 4</td>
      </tr>
      <tr class="quality">
        <td>Quality</td>
        <% @get_section_scores.each_with_index do |domain_percentage, index| %>
        <td id=<%= "#{index + 1}" %>><%= number_with_precision(domain_percentage.quality_average.to_f*100, precision: 1) %> %</td>
        <% end %>
      </tr>
      <tr class="alignment">
        <td>Alignment</td>
        <% @get_section_scores.each_with_index do |domain_percentage, index| %>
          <td id=<%= "#{index + 5}" %>><%= number_with_precision(domain_percentage.alignment_average.to_f*100, precision: 1) %> %</td>
        <% end %>
      </tr>
  </table>
<% end %>