<div class="container container-fluid" id="login">
  <div class="logo"><%= logo_tag %></div>

  <div class="panel panel-default panel-info">
    <div class="panel-heading">Reset password</div>
    <div class="panel-body">
      <%= display_flash_messages %>

      <%= form_for @user, url: password_reset_path(params[:id]), class: "form-horizontal center" do |f| %>
        <div class="form-group">
          <%= f.label :password, "Password:", class: "col-md-4 control-label reader-admin-label"%>
          <div class="col-md-8">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Password Confirmation:", class: "col-md-4 control-label reader-admin-label"%>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <%= submit_tag "Update Password", class: "btn btn-default btn-primary" %>
      <% end %>

    </div>
  </div>

</div>
