<div class="form-group">
  <%= f.label :first_name, "First Name:", class: "col-md-4 control-label reader-admin-label" %>
  <div class="col-md-8">
    <%= f.text_field :first_name, class: "form-control reader-admin-label" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, "Last Name:", class: "col-md-4 control-label reader-admin-label" %>
  <div class="col-md-8">
    <%= f.text_field :last_name, class: "form-control reader-admin-label" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, "Email:", class: "col-md-4 control-label reader-admin-label" %>
  <div class="col-md-8">
    <%= f.text_field :email, class: "form-control reader-admin-label" %>
  </div>
</div>

<div class="form-group">
  <div class="col-xs-4">
    <%= f.input :is_reader1a, as: :boolean, label: false, inline_label: "Reader 1" %>
  </div>
  <div class="col-xs-4">
    <%= f.input :is_reader1b, as: :boolean, label: false, inline_label: "Reader 2" %>
  </div>
  <div class="col-xs-4">
    <%= f.input :is_reader2,  as: :boolean, label: false, inline_label: "Reader 3" %>
  </div>
</div>
