<tr>
  <td><%= reader.first_name %> <%=reader.last_name %> </td>
  <td><%= reader.is_reader1a %> </td>
  <td><%= reader.is_reader1b %> </td>
  <td><%= reader.is_reader2 %> </td>
  <td><%= link_to "Edit", edit_admin_reader_path(reader) %> <%= link_to "View", admin_reader_path(reader) %></td>
</tr>
