<div class='container container-fluid'>
  <%= display_flash_messages %>

  <div class="panel panel-default panel-info">
    <div class="panel-heading">Edit Reader</div>
    <div class="panel-body">
      <%= simple_form_for @reader, url: admin_reader_path(@reader),class: "form-horizontal center" do |f| %>
        <%= render partial: "reader_form", locals: { f: f } %>

        <%= f.submit "Update Reader", class: "btn btn-default btn-primary" %>
      <% end %>

      <%= button_to "Reset Password", password_resets_path(email: @reader.email), method: :post, class: "btn btn-default btn-secondary" %>

    </div>
  </div>

</div>
