<div class="container-fluid">

  <h1><%= @reader.full_name %></h1>

  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-primary panel-info">
        <div class="panel-heading">Observation Reads</div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th> Observer Name </th>
              <th> State </th>
              <th> Reader Number</th>
              <th> Comments</th>
              <th> Updated</th>
            </tr>
          </thead>
          <tbody>
            <% @observation_reads.each do |o| %>
            <tr>
              <td><%= o.employee_id_observer %></td>
              <td><%= o.status %></td>
              <td><%= o.reader_number_ordinal %></td>
              <td>
                <ul><% if o.comments.present? 
                          o.comments.split(/\n/).each do |comment| %>
                  <li><%= comment %></li>
                  <% end 
                    end %>
                </ul>
              </td>
              <td><%= time_ago_in_words o.updated_at %> ago </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-2">
     <div class="panel panel-default panel-info">
      <div class="panel-heading">Status of Reads</div>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="row"> Ready to Read </th> <td> <%= @reader.observation_reads.status(:ready).count %> </td>
          </tr>
          <tr>
            <th scope="row"> Waiting for Reader 1 </th> <td> <%= @reader.observation_reads.status(:waiting).count %> </td>
          </tr>
          <tr>
            <th scope="row"> Finished </th> <td> <%= @reader.observation_reads.status(:finished).count %> </td>
          </tr>
        </thead>
        <tbody></tbody>
      </div>
    </div>
  </div>
</div>