

  <div class="container-fluid">

  <h1><%= @reader.first_name %> <%=@reader.last_name %></h1>

  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-primary panel-info">
        <div class="panel-heading">Observation Reads</div>

              <table class="table table-hover table-bordered">
                <thead>
                <tr>
                  <th> Employee ID </th>
                  <th> State </th>
                  <th> Reader Number</th>
                  <th> Comments</th>
                <tr>
                </thead>
                <tbody>
              <% @reader.observation_reads.order('created_at ASC').each do |observation_read| %>
                <tr>
                    <td><%= observation_read.employee_id_observer %></td>
                    <td><%= observation_read.status %></td>
                    <!-- <td><%= observation_read.reader_number %></td> -->
                    <td><%= print_reader_number observation_read %></td>
                    <td>
                      <ul><% observation_read.comments.split(/\n/).each do |comment| %>
                        <li><%= comment %></li>
                        <% end %>
                      </ul>
                    </td>
                </tr>
              <% end %>
              </tbody>
              </table>
        </div>
      </div>

    <div class="col-md-2">
       <div class="panel panel-default panel-info">
        <div class="panel-heading">Status of Reads</div>
          <table class="table table-hover table-bordered">
            <tr>
              <th scope="row"> Ready to Read </th> <td> <%= @reader.observation_reads.status(:ready).count %> </td>
            </tr>
            <tr>
              <th scope="row"> Waiting for Reader 1 </th> <td> <%= @reader.observation_reads.status(:waiting).count %> </td>
            </tr>
            <tr>
              <th scope="row"> Finished </th> <td> <%= @reader.observation_reads.status(:finished).count %> </td>
            </tr>
        </div>
      </div>
  </div>


</div>
