<div class="container-fluid">

  <%= display_flash_messages %>
<!-- Counts -->
  <div class = "row">
    <div class="col-md-8">
      <div class="well">
        <div class="panel-heading">Reader Assignments</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Reader </th>
              <th> Reads for 1 </th>
              <th> Reads for 2 </th>
              <th> Reads for 3 </th>
              <th> Last Read </th>
            </tr>
          </thead>
          <tbody>
          <% @readers.select{|r| r.observation_reads.any? }.each do |reader| %>
            <tr>
              <td> <%= reader.first_name %> </td>
              <td> <%= reader.observation_reads.reader('1a').count %> </td>
              <td> <%= reader.observation_reads.reader('1b').count %> </td>
              <td> <%= reader.observation_reads.reader('2').count %> </td>
              <td> <%= reader.observation_reads.last_read %> </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class='my-legend'>
        <div class='legend-title'> Color Code for Reads </div>
        <div class='legend-scale'>
          <ul class='legend-labels'>
            <li><span class='green' style='background:#1abc9c;'></span> Ready to Read </li>
            <li><span class='yellow' style='background:#f1c40f;'></span> Waiting for Reader 1 to Finish  </li>
            <li><span class='grey' style='background:#7f8c8d;'></span> Completed Reads </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<!-- Reads List -->
  <div class="row">
    <div class="well">
      <div class="panel-heading">Change Reader Assignments</div>
      <%= form_tag(admin_observations_updates_path, method: :put, class: 'admin-form') %>
      <div class="table-responsive reader-assignment">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><h4> Employee Number </h4></th>
              <th><h4> Reader 1 </h4></th>
              <th><h4> Reader 2</h4></th>
              <th><h4> Reader 3</h4></th>
              <th><h4> Flagged</h4></th>
            </tr>
          </thead>
          <tbody>
            <% @edit_reader_list.each do |read| %>
            <tr>
              <td><%= read['employee_id_observer'] %></td>
              <td class=<%= read['document_status'].to_i.humanize %>>
                <%= select_tag("observation_read_id[#{read['document_observation_read_id']}]", options_for_select(@readers_for_select_1a, read['document_reader_id']), prompt: "Select a reader") %><br>
                <%= link_to "Observation Read", observation_read_path(read['document_observation_read_id'])%>
              </td>
              <td class=<%= read['live_status'].to_i.humanize %>>
                <%= select_tag("observation_read_id[#{read['live_observation_read_id']}]", options_for_select(@readers_for_select_1b, read['live_reader_id']), prompt: "Select a reader") %><br>
                <%= link_to "Observation Read", observation_read_path(read['live_observation_read_id'])%>
              </td>
              <td class=<%= read['second_status'].to_i.humanize %>>
                <% if read.oneb_flagged? %>
                <%= select_tag("observation_read_id[#{read['second_observation_read_id']}]", options_for_select(@readers_for_select_2, read['second_reader_id']), prompt: "Select a reader")%><br>
                <%= link_to "Observation Read", observation_read_path(read['second_observation_read_id'])%>
                <% else %>
                Cannot assign reader until flagged.
                <% end %>
              </td>
              <td class=<%= "flagged-#{read.oneb_flagged}" %> >
                <%= read.oneb_flagged? ? "Yes" : "No" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <%= submit_tag nil, class: "btn btn-primary" %>

    </div>
  </div>

</div>
