  <div class = "row">
    <div class="col-md-8">
      <div class="well">
        <div class="panel-heading">Reader Assignments</div>
          <table class="table table-striped">
            <tr>
              <th> Reader </th>
              <th> Reads for 1 </th>
              <th> Reads for 2 </th>
              <th> Reads for 3 </th>
              <th> Last Read </th>
            </tr>
            <% if reader.observation_reads.any? %>
              <% @readers.each do |reader| %>
              <tr>
                <td> <%= reader.first_name %> </td>
                <td> <%= reader.observation_reads.reader('1a')count %> </td>
                <td> <%= reader.observation_reads.reader('1b').count %> </td>
                <td> <%= reader.observation_reads.reader('2').count %> </td>
                <td> <%= reader.observation_reads.last_read %> </td>
              </tr>
              <% end %>
            <% end %>
          </table>
        </div>
    </div>

    <div class="col-md-4">
      <div class='my-legend'>
        <div class='legend-title'> Color Code for Reads </div>
        <div class='legend-scale'>
          <ul class='legend-labels'>
            <li><span class='green' style='background:#1abc9c;'></span> Ready to Read </li>
            <li><span class='yellow' style='background:#f1c40f;'></span> Waiting for Reader 1 to Finish  </li>
            <li><span class='grey' style='background:#7f8c8d;'></span> Completed Reads </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

