<!DOCTYPE html>
<html>
<head>
  <title>ReaderTool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"
</head>
<body id="<%= "controller-#{controller.controller_name.gsub('_','-')}"%>" class="<%= "action-#{controller.action_name.gsub('_','-')}"%>">

  <% if signed_in? %>

  <header id='cssmenu'>
    <nav class="navbar-fixed-top" id="fixed-nav">
      <ul>
       <li><%= link_to "#{organization_name(:short)} Reader", observation_reads_path %></li>
       <% if current_user.reader2? %>
         <li><%= link_to "Admin", admin_path %></li>
       <% end %>
       <div class="right-nav">
         <li><%= link_to "Welcome, #{current_user.first_name}", observation_reads_path, id: 'welcome' %></li>
         <li><%= button_to "logout", logout_path, method: 'delete', class: "btn btn-default nav-button navbar-btn", id: 'welcome-button'%></li>
       </div>
     </ul>
   </nav>
 </header>

 <% end %>

 <%= yield %>

</body>
</html>
